@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,
body,
#root,
.content {
    height: 100%;
    width: 100%;
    font-family: "Ubuntu", sans-serif !important;
    background-color: #063053 !important;
    color: #ffff !important;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #063053;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6dfe6;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #757779;
}